.hover-follow-container {
  position: relative;
  display: inline-block;
}

.follow-button {
    position: absolute;
    top: -25%;
    left: 100%;
    margin-left: 8px;
    z-index: 10;
    white-space: nowrap;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background: var(--button-bg);
    color: white;
    cursor: pointer;
}

.follow-user:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
}